.row-header{
  margin:0px auto;
  padding:0px auto;
}

.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}

.footer{
  background-color: #13B9F6;
  color:#FFFFFF;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
  
}
.jumbotron {
  padding:70px 30px 70px 30px;
  margin:0px auto;
  background: #13B9F6 ;
  color:#FFFFFF;
}

address{
  font-size:80%;
  margin:0px;
  color:#0f0f0f;
}

.navbar-dark {
  background-color: #13B9F6;
  height: 82px;
}

.fa-lg {
  font-size: 30px;
}

.nav-btn {
  width: 140px;
  height: 50px;
  margin-top: 20px;
  margin-right: 60px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

.nav-btn:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.nav-left {
  font-size: 30px;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
.nav-left span {
  color:#FFFFFF;
}
.nav-left:hover {
  background-color: #FFFFFF;
  color: #13B9F6;
}

.nav-left:hover span {
  color: #13B9F6;
}


.brandName {
  font-size: 50px;
}

.home {
  margin: 0;
  padding: 0;
  height: 900px;
  background-image: url("./images/backgroundMaps.PNG");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.space {
  height: 50px;
}

.otherclr {
  color: #13B9F6;
  text-shadow: 2px 2px 4px #000000;
}

.hospclr {
  color: #FF624B;
  text-shadow: 2px 2px 4px #000000;
}

.cliniclr {
  color: #FFC701;
  text-shadow: 2px 2px 4px #000000;
}

.labsclr {
  color: #13B9F6;
  text-shadow: 2px 2px 4px #000000;
}

.container-home {
  margin: 0px;
  padding: 0px;
}

form {
  position: relative;
  width: 30rem;
  background: var(#57bd84);
  border-radius: var(.7rem);
}
input, button {
  height: var(5rem);
  font-family: var('Lato', sans-serif);
  border: 0;
  color: var(#2f2f2f);
  font-size: 1.8rem;
}
input[type="search"] {
  outline: 0; 
  width: 100%;
  background: var(#fff);
  padding: 0 1.6rem;
  border-radius: var(.7rem);
  appearance: none; 
  transition: all var(.3s) var(cubic-bezier(0, 0, 0.43, 1.49));
  transition-property: width, border-radius;
  z-index: 1;
  position: relative;
}
button {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: var(6rem);
  font-weight: bold;
  background: #57bd84;
  border-radius: 0 var(.7rem) var(.7rem) 0;
}
input:not(:placeholder-shown) {
  border-radius: var(.7rem) 0 0 var(.7rem);
  width: calc(100% - var(6rem));
}

input:not(:placeholder-shown) button {
  display: block;
}

label {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.searchBar {
  border-radius: 50px;
  padding-left: 25px;
  padding-top: 5px;
  padding-top: 5px;
  border: none;
  height: 70px;
  width: 60%;
  
}

.lowerbox {
  height: 300px;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
  background-color: #fff;
  opacity: 0.7;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.lowerboxtxt {
  padding-left: 20%;
}

.lboxtxt {
  font-size: 30px;
}